*{
    margin: 0;
    padding: 0;
}

body {
	font-family: $lato-regular;
	font-size: 18px;
	background-color: $base-background-color;
}

.main-app-container{
	// padding: 90px 10px 25px 25px;
	padding: 90px 15px 25px 30px;
	// margin-left: 245px;
	margin-left: 19%;
}