.form-control {
    background-color: #fff;
    border: 1px solid #f6eedf;
    border-radius: 2px;

    &:focus, &:active, &:hover {
        background-color: #fff;
        border: 1px solid #f6eedf;
    }
}

.select-option {
    // background: #fff url('/img/black-dropdown-arrow-down.svg') no-repeat 95% center;
    background: #fff url('/img/black-dropdown-arrow-down.svg') no-repeat 95% center;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
}
