#progressbar {
    background-color: #e8f0fa;
    border-radius: 13px;
    padding: 1px;
    margin-top: 8px;
}

#progressbar>div {
    background-color: #186adb;
    height: 5px;
    border-radius: 10px;
}