.table thead th{
    font-size: 14px;
    font-weight: 500;
    color: #b7b8bc;
    border-bottom: 0;
}

.table td{
    color: #818284;
    font-size: 14px;
    font-weight: 600;
}

.table-chart-container{
	position: relative;
	height: 30px;
	width: 100px;
	.chart-position-set{
		position: absolute;
		top: -60px;
		left: 10px;
	}
}