@each $size
	in (10, 15, 18,20, 25, 30, 35, 40, 45, 50, 55, 60)
{
	.m-#{$size} {
		margin: #{$size}px;
	}
	.mt-#{$size} {
		margin-top: #{$size}px;
	}
	.mb-#{$size} {
		margin-bottom: #{$size}px;
	}
	.ml-#{$size} {
		margin-left: #{$size}px;
	}
	.mr-#{$size} {
		margin-right: #{$size}px;
	}
	.mlr-#{$size} {
		margin-left: #{$size}px;
		margin-right: #{$size}px;
	}
	.mtb-#{$size} {
		margin-top: #{$size}px;
		margin-bottom: #{$size}px;
	}
	.p-#{$size} {
		padding: #{$size}px;
	}
	.pt-#{$size} {
		padding-top: #{$size}px;
	}
	.pb-#{$size} {
		padding-bottom: #{$size}px;
	}
	.pl-#{$size} {
		padding-left: #{$size}px;
	}
	.pr-#{$size} {
		padding-right: #{$size}px;
	}
	.plr-#{$size} {
		padding-left: #{$size}px;
		padding-right: #{$size}px;
	}
	.ptb-#{$size} {
		padding-top: #{$size}px;
		padding-bottom: #{$size}px;
	}
}

.title-text{
	font-family: $lato-semibold;
	// font-size: 16px;
	font-size: 18px;
}

.border-bottom{
	border-bottom: 1px solid 1px solid #f6eedf;
}

.font-size-14{
	font-size: 12px;
	font-weight: 600;
}

.margin-lefts{
	// margin-left: -75px;
	// margin-right: -40px;
	margin: -20px -40px 0 -75px;
}

.overflow-hidden{
	overflow-x: hidden;
}

.icon-size-15{
	height: 15px;
	width: 15px;
}

.chart-dot{
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background-color: #0d65d9;
}

.clickable{
	cursor: pointer;
}

.not-found-container{
	height: 75vh;
	.not-found-icon{
		height: 200px;
		width: 200px;
	}
}